@import 'variables';

footer {
    // background: $color-2;
    background-image: url(images/footer-new.jpg);
    background-position-y: 73%;
	padding: 2em;
    text-align: center;
    grid-column: 1/span 2;
    font-size: 50px;
}

footer a {
	margin: 10px;
	text-decoration: none;
}


.sidebar {
	background: $color-1;
}

.sidebar .wrapper {
	padding: 5em;
}

.sidebar .wrapper div {
	height: 200px;
}

.sidebar .wrapper h3 {
	color: $color-5;
}

.sidebar .wrapper ul {
	padding-left: 0;
}


.sidebar .wrapper li {
	text-decoration: none;
	list-style: none;
	color: $color-4;
	padding: 5px 0px;
	
	// :hover {
	// 	color: $color-3;
	// }
	
	// a {
	// 	text-decoration: none;
	// 	color: $color-4;
	// }
}

@media only screen and (max-width: 700px) {
	.sidebar .wrapper div {
	    height: 300px;
    }
    .sidebar .wrapper .design-archives {
		height: 150px;
	}
}