@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

// $color-1: #5f8ee4; // Cornflower Blue - Action color
// $color-2: #19191a; // Dark Blue
// $color-3: #e4655f; // Red
// $color-4: #e6e6e6; // light grey
// $color-5: #ffffff; // white

// Our Colors
$color-1: #121212; // Black - Action color
$color-2: #333333; // Grey
$color-3: #ED413B; // Red
$color-4: #C9F7FE; // Light Blue
$color-5: #fafafa; // White

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
  /* this is the page background */
  background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-4;
  border-radius: 3px;
  background: $color-5;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/_navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
  color: $color-2;

  @include MQ(L) {
    /* title goes into the header on big devices */
    color: $color-5;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/_typography';

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

 p {

  a {
    color: $color-1;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/* -------------------------------- 

xButtons 

-------------------------------- */

@import 'partials/_buttons';

/* -------------------------------- 

xIcons 

-------------------------------- */

@import 'partials/_icons';

/* -------------------------------- 

xForm 

-------------------------------- */

// We don't need to worry about this section
input[type='text'],
select {
  border: 1px solid $color-4;
  border-radius: 0.25em;
  background: $color-5;

  &:focus {
    outline: none;
  }
}

input[type='text'] {
  padding: 0.6em 1em;
  box-shadow: inset 1px 1px rgba(#000, 0.03);

  &.success {
    border-color: $success;
    box-shadow: 0 0 6px rgba($success, 0.2);
  }

  &.alert {
    border-color: $alert;
    box-shadow: 0 0 6px rgba($alert, 0.2);
  }

  &:focus {
    border-color: $color-1;
    box-shadow: 0 0 6px rgba($color-1, 0.2);
  }
}

input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.radio-label,
.checkbox-label {
  padding-left: 24px;
  @include user-select(none);

  &::before,
  &::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }

  &::before {
    left: 0;
    border: 1px solid $color-4;
    box-shadow: inset 1px 1px rgba(#000, 0.03);
  }

  &::after {
    left: 3px;
    background: url('../assets/form/icon-check.svg') no-repeat center center;
    display: none;
  }
}

.radio-label::before {
  border-radius: 50%;
}

.checkbox-label::before {
  border-radius: 3px;
}

input[type='radio']:checked + label::before,
input[type='checkbox']:checked + label::before {
  background-color: $color-2;
  border: none;
  box-shadow: none;
}

input[type='radio']:checked + label::after,
input[type='checkbox']:checked + label::after {
  display: block;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  @include transform(translateY(-50%));
  display: block;
  width: 16px;
  height: 16px;
  background: url('../assets/form/icon-select.svg') no-repeat center center;
  pointer-events: none;
}

select {
  position: relative;
  padding: 0.6em 2em 0.6em 1em;
  cursor: pointer;
  @include appearance(none);
}

@import 'partials/basic-style';
