// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';

/* -------------------------------- 
Variables
-------------------------------- */
// color palette - these colors will be the color swatches of the Colors section
$color-1: #121212; // Black - Action color
$color-2: #333333; // Grey
$color-3: #ED413B; // Red
$color-4: #C9F7FE; // Light Blue
$color-5: #fafafa; // White

/* -------------------------------- 
General Styles
-------------------------------- */
body {
    background-color: $color-5;
    color: $color-1;
    margin: 0;
    padding: 0;
}

/* -------------------------------- 
Intro Section
-------------------------------- */
.intro:before {
    content: "";
    // background-image: url(images/purple-banner.jpg);
    background-color: $color-2;
    width: 100%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro {
    color: $color-5;
}
header {
    margin: -45em 0 0;
}

/* -------------------------------- 
Main Section
-------------------------------- */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.requirements {
}
.requirements > p:last-child {
    margin: 10em 0 10em -50%;
}
footer {
    margin: -13em 0 0 50%;
}

.wrapper {
    height: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zen-resources {
    grid-column-start: 2;
}

@media only screen and (max-width: 1581px) {
    .requirements > p:last-child {
        margin: 10em 0 10em -62%;
    }
    footer {
        margin: -13em 0 0 38%;
    }
}
@media only screen and (max-width: 1381px) {
    .requirements > p:last-child {
        margin: 10em 0 10em -75%;
    }
    footer {
        margin: -13em 0 0 25%;
    }
}
@media only screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
    }
    .requirements > p:last-child {
        margin: 10em 0;
        text-align: center;
    }
    footer {
        margin: -13em 0;
        text-align: center;
    }
}