// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';
@import 'partials/footer';
@import 'partials/variables';

/* -------------------------------- 
General Styles
-------------------------------- */
body {
    background-color: $color-5;
    color: $color-1;
    margin: 0!important;
    padding: 0;
}

/* -------------------------------- 
Intro Section
-------------------------------- */
.intro:before {
    content: "";
    background-image: url(images/banner-gradient.jpg);
    background-color: $color-2;
    width: 100%;
    height: 68em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro {
    color: $color-5;
}
header {
    margin: -68em 0 0;
    padding: 20px;
	text-align: center;
}

.summary {
	padding: 20px 300px;
	text-align: center;
	
	p {
		
		a {
			color: $color-4;
		}
	}
}

.preamble {
    padding: 20px 320px 200px;
}

@media only screen and (max-width: 991px) {
	.preamble {
		padding: 20px 220px 200px;
	}
}


/* -------------------------------- 
Main Section
-------------------------------- */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.requirements > p:last-child {
    margin: 10em 0 0 -100%;
}
// footer {
//     margin: -13em 0 0 50%;
// }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zen-resources {
    grid-column-start: 2;
}

//Top Left
#zen-supporting .explanation {
    padding: 30px;
    background-color: #5E5E5E;
}
 
//Top Right
#zen-supporting .participation {
    padding: 30px;
    background-color: $color-3;
 
    a {
        text-decoration: none;
        color: $color-4;
    }
}

//Bottom Left
#zen-supporting .benefits {
    padding: 30px;
    background-color: $color-4;
}
 
//Bottom Right
#zen-supporting .requirements {
    padding: 30px;
    background-color: $color-5;
    a {
        text-decoration: none;
        color: $color-3;
    }
}


@media only screen and (max-width: 1581px) {
    .requirements > p:last-child {
        margin: 10em 0 0 -62%;
    }
    // footer {
    //     margin: -13em 0 0 38%;
    // }
}
@media only screen and (max-width: 1381px) {
    .requirements > p:last-child {
        margin: 10em 0 0 -100%;
        padding-left: 15%;
    }
    // footer {
    //     margin: -13em 0 0 25%;
    // }
}
@media only screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
    }
    .requirements > p:last-child {
        margin: 10em 0 0;
        text-align: center;
    }
    // footer {
    //     margin: -13em 0;
    //     text-align: center;
    // }
}

@media only screen and (max-width: 700px) {
	.wrapper {
		display: flex;
		flex-flow: column;
	}
}