// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';
@import 'partials/footer';
@import 'partials/variables';

/* -------------------------------- 
General Styles
-------------------------------- */
body {
    background-color: $color-5;
    color: $color-1;
    margin: 0!important;
    padding: 0;
}
a {
    text-decoration: none;
    color: $color-3;
    &:hover {
		text-decoration: underline;
		color: $color-4;
	}
}

/* -------------------------------- 
Intro Section
-------------------------------- */
.intro:before {
    content: "";
    background-image: url(images/banner-LG.jpg);
    background-color: $color-2;
    width: 100%;
    height: 68em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro {
    color: $color-5;
}
header {
    margin: -68em 0 0;
    padding: 20px;
	text-align: center;
}

.summary {
	padding: 20px 300px;
	text-align: center;
	p {
		// a {
		// 	color: $color-4;
		// }
	}
}

.preamble {
    padding: 20px 320px 200px;
}

@media only screen and (max-width: 991px) {
	.preamble {
		padding: 20px 220px 200px;
	}
}


/* -------------------------------- 
Main Section
-------------------------------- */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zen-resources {
    grid-column-start: 2;
}

//4x4 Grid
.explanation, .participation, .benefits, .requirements {
    padding: 5em;
    color: $color-5;
    h3 {
        font-size: 70px;
    }
}
//Top Left
.explanation {
    background-color: $color-1;
}
 
//Top Right
.participation {
    background-color: $color-2;
}

//Bottom Left
.benefits {
    padding-bottom: 0;
    background-color: $color-2;
}
 
//Bottom Right
.requirements {
    // padding-bottom: 0;
    background-color: $color-1;
    // NEW CODE TESTING
    // position: relative;
    // p:last-child {
    //     background-image: url(images/footer-new.jpg);
    //     height: 500px;
    //     text-align: center;
    //     background-size: cover;
    //     background-position: center center;
    //     position: absolute;
    //     left: -952px;
    //     bottom: -1021px;
    //     width: 200%;
    //     margin-bottom: 1021px;
    // }
}

// OLD CODE
// .requirements > p:last-child {
//     margin: 2em 0 0 -100%;
// }
// .requirements p:last-child {
// 	background-image: url(images/footer-new.jpg);
// 	height: 500px;
// 	display: flex;
// 	align-items: center;
// 	background-size: cover;
// 	background-position: center center;
// }


@media only screen and (max-width: 1581px) {
    .requirements > p:last-child {
        margin: 10em 0 0 -62%;
    }
    // footer {
    //     margin: -13em 0 0 38%;
    // }
}
@media only screen and (max-width: 1381px) {
    .requirements > p:last-child {
        margin: 10em 0 0 -100%;
        padding-left: 15%;
    }
    // footer {
    //     margin: -13em 0 0 25%;
    // }
}
@media only screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
    }
    .requirements > p:last-child {
        margin: 10em 0 0;
        text-align: center;
    }
    // footer {
    //     margin: -13em 0;
    //     text-align: center;
    // }
}
@media only screen and (max-width: 700px) {
	.wrapper {
		display: flex;
		flex-flow: column;
	}
}
// Matt's Stuff
@media only screen and (max-width: 811px) {
	.intro:before {
		height: 82em;
	}
	
	.header {
		margin: -80em 0 0;
	}
}

@media only screen and (max-width: 731px) {
	.preamble {
		padding: 20px 100px 200px;
	}
	
	.summary {
		padding: 20px 100px;
	}
}


@media only screen and (max-width: 592px) {
	h1 {
		font-size: 60px;
	}
	
	h2 {
		font-size: 40px;
	}
	
	.preamble {
    	padding: 20px 40px 200px;
	}
}
