// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';
@import 'partials/footer';
@import 'partials/variables';

/* -------------------------------- 
General Styles
-------------------------------- */
body {
    background-color: $color-5;
    color: $color-1;
    margin: 0!important;
    padding: 0;
}
a {
    text-decoration: none;
    color: $color-3;
    &:hover {
		text-decoration: underline;
		color: $color-4;
	}
}

/* -------------------------------- 
Intro Section
-------------------------------- */
.intro:before {
    content: "";
    background-image: url(images/banner-LG-new.jpg);
    background-color: $color-2;
    width: 100%;
    height: 68em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro {
    color: $color-5;
}
header {
    // margin: -65em 0 0;
    // padding: 10em;
    margin: -80em 0 15.5em;
    padding: 18em 0 0px 300px;
    h2 {
        margin: -3em 0 -1.5em 0.25em;
    }
}

.summary {
    padding: 0px 300px;
}

.preamble {
    padding: 0px 300px 0px;
    margin-bottom: 4em;
}

@media only screen and (max-width: 991px) {
	.preamble {
		padding: 20px 220px 200px;
	}
}


/* -------------------------------- 
Main Section
-------------------------------- */
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.zen-resources {
    grid-column-start: 2;
}

//4x4 Grid
.explanation, .participation, .benefits, .requirements {
    padding: 5em;
    color: $color-5;
    h3 {
        font-size: 48px;
        margin-top: 0;
    }
}
//Top Left
.explanation {
    background-color: $color-1;
    &::after {
        display: block;
        content: "";
    }
}
 
//Top Right
.participation {
    background-color: $color-2;
}

//Bottom Left
.benefits {
    background-color: $color-2b;
}
 
//Bottom Right
.requirements {
    background-color: $color-2a;
}

@media only screen and (max-width: 1520px) {
    h1 {
        font-size: 117px;
    }
    header h2 {
        margin: -2.5em 0 -1em 0.25em;
    }
}
@media only screen and (max-width: 1260px) {
    header {
        margin: -80em 0 10.5em;
        padding: 18em 0 0px 200px;
    }
    .summary {
        padding: 0px 200px;
    }
    .preamble {
        padding: 0px 200px 0px;
    }
}
@media only screen and (max-width: 700px) {
	.wrapper {
		display: flex;
		flex-flow: column;
	}
}
// Matt's Stuff
@media only screen and (max-width: 811px) {
	.intro:before {
		height: 82em;
	}
	
	.header {
		margin: -80em 0 0;
	}
}

@media only screen and (max-width: 731px) {
	.preamble {
		padding: 20px 100px 200px;
	}
	
	.summary {
		padding: 20px 100px;
	}
}


@media only screen and (max-width: 592px) {
	h1 {
		font-size: 60px;
	}
	
	h2 {
		font-size: 40px;
	}
	
	.preamble {
    	padding: 20px 40px 200px;
	}
}
