// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';

/* -------------------------------- 
Variables
-------------------------------- */
// color palette - these colors will be the color swatches of the Colors section
$color-1: #121212; // Black - Action color
$color-2: #333333; // Grey
$color-3: #ED413B; // Red
$color-4: #C9F7FE; // Light Blue
$color-5: #fafafa; // White


/* -------------------------------- 
General Styles
-------------------------------- */
body {
  background-color: $color-5;
  color: $color-1;
  margin: 0;
  padding: 0;
}

/* -------------------------------- 
Into Section
-------------------------------- */
.intro:before {
  content: "";
  background-image: url(images/purple-banner.jpg);
  width: 100%;
  height: 58em;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.intro {
  text-align: center;
}
header {
  margin: -45em 0 29em;
  color: $color-5;
}