// COMMAND LINE: sass --watch scss/style.scss:style.css

/* -------------------------------- 
Use this style of comments to start a new sections
-------------------------------- */

/* -------------------------------- 
Partials
-------------------------------- */
@import 'partials/prefix-mixins';
@import 'partials/_typography';

/* -------------------------------- 
Variables
-------------------------------- */
// color palette - these colors will be the color swatches of the Colors section
$color-1: #121212; // Black - Action color
$color-2: #333333; // Grey
$color-3: #ED413B; // Red
$color-4: #C9F7FE; // Light Blue
$color-5: #fafafa; // White

/* -------------------------------- 
General Styles
-------------------------------- */
body {
    background-color: $color-5;
    color: $color-1;
    margin: 0;
    padding: 0;
}

/* -------------------------------- 
Intro Section
-------------------------------- */
.intro:before {
    content: "";
    background-image: url(images/purple-banner.jpg);
    width: 100%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.intro {
    text-align: center;
}
header {
    margin: -45em 0 0;
    color: $color-5;
}
.summary {
    margin: 3em 0 247px;
    color: $color-5;
}

/* -------------------------------- 
4x4 Section
-------------------------------- */
.preamble::after {
    content: "";
    background-image: url(images/light-purple-skinny-light-orange-LG.jpg);
    width: 50%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -331px;
}
.preamble, .explanation {
    text-align: left;
    background-color: $color-2;
    color: $color-5;
    position: relative;
}
.preamble > h3, .preamble > p {
    margin-left: 1000px;
}

.explanation::after {
    content: "";
    background-image: url(images/light-red-sky-blue-LG.jpg);
    width: 50%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -370px;
    margin-left: 50%;
}
.explanation > h3, .explanation > p {
    width: 50%;
}
.explanation > h3 {
    margin-top: 0;
}

.participation::before {
    content: "";
    background-image: url(images/orange-light-blue-LG.jpg);
    width: 100%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.participation > h3 {
    margin-top: -700px;
}
.participation {
    color: $color-5;
    margin-bottom: 450px;
}

.benefits {
    background-color: $color-5;
    padding: 5em;
}

.requirements::before {
    content: "";
    background-image: url(images/light-purple-orange-green-blue-LG.jpg);
    width: 100%;
    height: 58em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.requirements > h3 {
    margin-top: -700px;
}
.requirements {
    color: $color-5;
    // margin-bottom: 251px;
}
.requirements > p:last-child {
    margin-top: 360px;
    color: $color-1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.wrapper {
    height: 50em;
    display: grid;
    grid-template-areas:
        "design-selection design-archives"
        "design-selection zen-resources";
}